<ion-view view-title="{{product.name}}"> 
<ion-nav-bar class="bar-assertive">
	<ion-nav-back-button>
		返回
	</ion-nav-back-button>
</ion-nav-bar>
<ion-content class="padding">
<div class="item item-body">
	<img class="full-image" ng-src="{{product.img}}">
	<p>{{product.desc}}</p>
	<p>
		<a href="#" class="subdued">{{product.order}}人参与打价</a>
	</p>
</div>

<div class="item tabs tabs-secondary tabs-icon-left">
	<a class="tab-item" href="#"> <i class="icon ion-star"></i> 收藏
	</a> <a class="tab-item" href="#"> <i class="icon ion-chatbox"></i> 评论
	</a> <a class="tab-item" href="#"> <i class="icon ion-share"></i> 分享
	</a>
</div>
</ion-content> </ion-view>
