<ion-view view-title="打价">
  <ion-content>
	<div class="list card">
	  <div class="item item-avatar">
	    <img src="/img/dajia-company-1.jpg">
	    <h2>迪奥魅惑唇膏玩色狂想系列</h2>
	    <p>一款全新风格，一个颠覆性时尚解码：全新Dior迪奥魅惑唇膏玩色狂想系列，采用晶炫酷黑包装，尽显谜漾深邃、晶透纯粹及闪耀光芒。</p>
	  </div>
	
	  <div class="item item-image">
	    <img src="/img/dajia-sample-1.jpg">
	  </div>
	
	  <a class="item item-icon-left assertive" href="#">
	    <i class="icon ion-arrow-graph-down-right"></i>
	    现在只要￥247 （已打掉￥132）
	  </a>
	</div>
	
	<div class="list card">
	  <div class="item item-avatar">
	    <img src="/img/dajia-company-2.jpg">
	    <h2>倩碧润肤乳-啫喱配方</h2>
	    <p>皮肤科医生研发无油保湿配方，与肌肤自然滋润成分如出一辙。</p>
	  </div>
	
	  <div class="item item-image">
	    <img src="/img/dajia-sample-2.jpg">
	  </div>
	
	  <a class="item item-icon-left assertive" href="#">
	    <i class="icon ion-arrow-graph-down-right"></i>
	    现在只要￥255 （已打掉￥40）
	  </a>
	</div>
  </ion-content>
</ion-view>
