/* Empty. Add your own CSS if you like */
.ori_price {
	text-decoration: line-through;
}

.now_price {
	font-size: 1.8em;
}

.row.noPadding {
	padding: 0;
}

.col.noPadding {
	padding: 0;
}

.item.noBorder {
	border-width: 0;
}